# OPTIONAL: Put production env variables here (to overwrite application.conf, etc).
# WARNING:
# - Beanstalk tracks where env varables come from. Options created in this script need to be kept in this script.
#   Deleting them from here deletes them from beanstalk.  You may consider just doing them all manually using client to avoid confusion.
# - values changed in beanstalk console will override this file.

option_settings:

  - option_name: DB_URL
    value: postgres://<USERNAME>:<PASSWORD>@<HOST>/<DATABASE>

  - option_name: MY_ENV_SETTING
    value: beanstalk_initial

# javaagent will enable newrelic application monitoring.  Enter your license key in newrelic.yml
# - option_name: JAVA_OPTS
#   value: -javaagent:/newrelic/newrelic.jar -Xms128m -Xmx512m -Dlogger.resource=logback-prod.xml