# OPTIONAL: Put your initial variables here to be loaded into beanstalk.
# You can also just load them in manually once beanstalk is created
# WARNING: This should probably be in .gitignore and deleted if it contains sensitive info.
# Manage in beanstalk online config.
# Note: env var values already loaded into beanstalk override this file.

option_settings:

  - option_name: DB_URL
    value: postgres://<USERNAME>:<PASSWORD>@<HOST>/<DATABASE>

  - option_name: MY_ENV_SETTING
    value: beanstalk_initial

# javaagent will enable newrelic application monitoring.  Enter your license key in newrelic.yml
# - option_name: JAVA_OPTS
#   value: -javaagent:/newrelic/newrelic.jar -Xms128m -Xmx512m